<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!--    CSS import-->
    <link rel="stylesheet" href="/css/index.css">
    <!--    JS import-->
    <script src="/js/index.js"></script>

</head>
<body>
<div class="container">
    <header>
        <div class="title">oEmbed Test</div>
        <div class="input_box">
            <input class="input_text" type="text" id="text_id">
            <button id="btn" onclick="btn()" class="button is-warning">확인</button>
            </input>
        </div>
        <div class="background"></div>
    </header>
    <article class="wrap">
        <div id="content_wrap"></div>
    </article>
</div>
</div>
</body>
</html>
</html>
